<div th:replace="~{fragments/header}"></div>
	<main>
		<form action="" method="POST">
			<div>
				<input type="text" name="nombre" placeholder="Nombres" />
			</div>
			<div>
				<input type="text" name="apellido" placeholder="Apellidos" />
			</div>
			<div>
				<input type="text" name="correo" placeholder="Correo" />
			</div>
			<div>
				<input type="number" name="telefono" placeholder="Telefono" />
			</div>
			<div>
				<input type="numer" name="direccion" placeholder="Direccion" />
			</div>
			<input type="submit" value="Crear" class="btn btn-success" />					
		</form>
    </main>
<div th:replace="~{fragments/footer}"></div>