<div th:replace="~{fragments/header}"></div>
	<main>
      <section class="especialidades-section">
        <div class="especialidades-header">
          <h2>Nuestras Especialidades</h2>
          <p>Conoce las áreas médicas en las que te podemos ayudar</p>
        </div>

        <div class="especialidades-grid">
          <div class="especialidades-card" data-aos="flip-left">
            <img src="" alt="" />
            <h3>especialidad</h3>
            <p>info</p>
            <a href="#" class="btn btn-success">Más información</a>
          </div>
        </div>
      </section>
    </main>
<div th:replace="~{fragments/footer}"></div>