<div th:replace="~{fragments/header}"></div>
	<main>
		<section>
			<div class='banner' data-aos="fade-up">
		        <h3 class='banner-text'>"Tu bienestar, nuestra prioridad."</h3>
		        <p class='banner-parrafo'>"En Vida Plana nos especializamos en cuidar de tu salud con atención personalizada y tratamientos innovadores."</p>
	      	</div>
		</section>
		<div class='descripcion' data-aos="fade-down">
	    	<h3 class='descripcion-item'>"En Vida Plana ofrecemos una atención integral de salud, con un enfoque humano y especializado en medicina general, atención de enfermedades crónicas, fisioterapia, etc. Nuestro objetivo es mejorar tu calidad de vida a través de tratamientos innovadores y un equipo profesional comprometido."</h3>
	    </div>
    </main>
<div th:replace="~{fragments/footer}"></div>